html, body { height: 100%; }

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  z-index: 10000; /* higher than toolbar/navbar */
}

body { background: #06141e; }

.app-main { position: relative; z-index: 0; }

.app-bg::before {
  content: "";
  position: fixed;
  inset: 64px 0 0 0;              /* pod toolbarem */
  background:
    linear-gradient(rgba(6,20,30,.65), rgba(6,20,30,.65)),
    url('https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?q=80&w=1600') center/cover no-repeat;
  z-index: -1;                    /* KLUCZ: pod treścią */
  pointer-events: none;
}

.mat-drawer-content,
mat-sidenav-content {
  background: transparent !important;
}

.glass {
  background: rgba(0,0,0,.18);
  backdrop-filter: blur(1.5px) brightness(1.25);
  border-radius: 12px;
}

::ng-deep .mat-datepicker-content,
::ng-deep .mat-calendar {
  background: rgba(255,255,255,0.96) !important;
  color: #111 !important;
  border-radius: 12px;
  box-shadow: 0 24px 48px rgba(0,0,0,.35);
}

::ng-deep .mat-calendar-period-button,
::ng-deep .mat-calendar-previous-button,
::ng-deep .mat-calendar-next-button,
::ng-deep .mat-calendar-table,
::ng-deep .mat-calendar-body,
::ng-deep .mat-calendar-body-label {
  color: #111 !important;
}

::ng-deep .mat-calendar-body-cell-content { color: #111 !important; }
::ng-deep .mat-calendar-body-selected {
  background: #1976d2 !important;
  color: #fff !important;
}
::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: #1976d2 !important;
}
