.home {
  text-align: center;

  .hero {
    width: 100%;
    max-width: 800px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,.3);
  }

  h1 {
    margin: 12px 0;
    font-size: 2.2rem;
    font-weight: 700;
  }

  p {
    margin-bottom: 16px;
    font-size: 1.2rem;
    color: #eeeeee;
  }

  p:hover {
    cursor: pointer;
  }
}
